asgiref==3.7.2
Django~=4.2.4
sqlparse==0.4.4
typing_extensions==4.7.1
utils~=1.0.1
requests~=2.31.0
psycopg2
pillow
ipython
django4-background-tasks
python-dotenv~=1.0.0
django_crontab
psycopg2-binary==2.9.7
APScheduler~=3.10.4
redis==5.0.0
django-crispy-forms==2.0
asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
crispy-bootstrap5==0.7
decorator==5.1.1
executing==1.2.0
funcy==1.18
jedi==0.19.0
matplotlib-inline==0.1.6
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.39
pure-eval==0.2.2
Pygments==2.16.1
pytils==0.4.1
pytz==2023.3
six==1.16.0
stack-data==0.6.2
traitlets==5.9.0
tzdata==2023.3
tzlocal==5.0.1
wcwidth==0.2.6